<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-blog" role="menuitem"><a href="{{site.baseurl}}tag/blog/">Blog</a></li>
    <li class="nav-what-is-ubi" role="menuitem"><a href="{{site.baseurl}}what_is_ubi/">What is UBI?</a></li>
    <div class="dropdown">
      <li><a href="#">Projects &#9660</a></li>
      <div class="dropdown-content">
        <li><a href="{{site.baseurl}}covid/">Covid</a></li>
        <li><a href="{{site.baseurl}}child-allowance/">Child Allowance</a></li>
        <li><a href="{{site.baseurl}}plan-explorer/">Plan Explorer</a></li>
      </div>
    </div>
    <div class="dropdown">
      <li><a href="#">About &#9660</a></li>
      <div class="dropdown-content">
        <li><a href="{{site.baseurl}}about/our-team/">Our Team</a></li>
        <li><a href="{{site.baseurl}}about/join/">Join Us</a></li>
        <li><a href="{{site.baseurl}}about/open-source/">Open Source</a></li>
        <li><a href="{{site.baseurl}}about/press/">Press</a></li>
      </div>
    </div>
    <li class="nav-test" role="menuitem"><a href="{{site.baseurl}}test/">Test</a></li>
</ul>
