<ul class="nav" role="menu">
    <div class="dropdown">
      <li><a href="{{site.baseurl}}what-is-ubi/">What is UBI? &#9660</a></li>
      <div class="dropdown-content">
        <li><a href="{{site.baseurl}}what-is-ubi/why-ubi/">Why UBI?</a></li>
        <li><a href="{{site.baseurl}}what-is-ubi/why-not-ubi/">Why not UBI?</a></li>
      </div>
    </div>
    <div class="dropdown">
      <li><a href="#">Projects &#9660</a></li>
      <div class="dropdown-content">
        <li><a href="https://polls.ubicenter.org">UBI Poll Tracker</a></li>
        <li><a href="http://bib.ubicenter.org">Basic Income Builder</a></li>
        <li><a href="https://covid.ubicenter.org">Covid</a></li>
        <li><a href="http://child-allowance.ubicenter.org/">Child allowance</a></li>
        <li><a href="{{site.baseurl}}projects/plan-explorer/">Plan Explorer</a></li>
      </div>
    </div>
    <div class="dropdown">
      <li><a href="#">About &#9660</a></li>
      <div class="dropdown-content">
        <li><a href="{{site.baseurl}}about/mission/">Mission</a></li>
        <li><a href="{{site.baseurl}}about/our-team/">Our team</a></li>
        <li><a href="{{site.baseurl}}about/join/">Join us</a></li>
        <li><a href="{{site.baseurl}}about/open-source/">Open source</a></li>
        <li><a href="{{site.baseurl}}about/press/">Press</a></li>
      </div>
    </div>
</ul>
