<form method="post" action="https://ubicenter.us3.list-manage.com/subscribe/post" target="_blank" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="">
    <input type="hidden" name="u" value="ffee9994a6979a91e881b8c13">
    <input type="hidden" name="id" value="938462295c">
    <div class="form-group">
        <input class="subscribe-email" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="youremail@example.com">
    </div>
    <button class="" type="submit" {% unless site.subscribe %}enable{% endunless %}><span>Subscribe</span></button>
</form>

